{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="info1">Politique de confidentialité</h1>
    <div class="container" id="t1">
        <h5>Présentation</h5>
        <div>
            <p>Cette politique de confidentialité décrit en détail notre politique et nos pratiques en matière de collecte, d'utilisation et de divulgation de vos données personnelles.</p>
            <p>Nous sommes conscients du fait que la fourniture d'informations en ligne implique une grande marque de confiance de votre part. Nous considérons cette confiance avec le plus grand sérieux et faisons une priorité majeure de la sécurité et de la confidentialité des données personnelles que vous nous fournissez lorsque vous consultez notre Site Web ou utilisez nos services.</p>
        </div>
        <br>
        <h5>Protection des données personnelles</h5>
        <div>
            <p>Nous nous engageons donc à protéger les données personnelles que nous collectons.</p>
            <p>Seules certaines personnes autorisées sont en mesure d'accéder aux données personnelles, et ils ne peuvent le faire qu'à des fins professionnelles légitimes.</p>
        </div>


    </div>
{% endblock %}