{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Mentions Légales</h1>

        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>

        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>

        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>

        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>

    </div>

{% endblock %}