{% extends 'base.html.twig' %}

{% block body %}


    <h1 class="info">Mentions Légales du site BricoTravoPro</h1>

    <div class="container" id="docs">

        <h2>Article 1</h2>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>


        <h2>Article 2</h2>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>


        <h2>Article 3</h2>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>


        <h2>Article 4</h2>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>

    </div>

{% endblock %}