{% extends 'base.html.twig' %}

{% block body %}


    <h1 class="info1">Mentions Légales du site BricoTravoPro</h1>

    <div class="container" id="docs">

        <h3>Siège social :</h3>
        <h5>105 Avenue de la République, 59110 La Madeleine</h5>
        <br>
        <hr>

        <h3>Gérants :</h3>
        <h5> Mlle Joëlle François / Mlle Laura Palisse / M. Laurent Dekeuwer / M. Teddy Deteuf / M. Thomas Marchoix </h5>
        <br>
        <hr>


        <h3>N° d'inscription au registre du commerce et des sociétés :</h3>
<<<<<<< refs/remotes/origin/teddy
<<<<<<< refs/remotes/origin/teddy
        <h5>XXXXXXXXX RCS Lille</h5>
=======
        <h5>059595959 RCS Lille</h5>
>>>>>>> MAJ mentions légales
=======
        <h5>XXXXXXXXX RCS Lille</h5>
>>>>>>> Mise à jour du 17avr
        <br>
        <hr>


        <h3>N° d'immatriculation au répertoire des métiers :</h3>
<<<<<<< refs/remotes/origin/teddy
<<<<<<< refs/remotes/origin/teddy
        <h5>XXXXXXXXXRM059</h5>
=======
        <h5>059595959RM059</h5>
=======
        <h5>XXXXXXXXXRM059</h5>
>>>>>>> Mise à jour du 17avr
        <br>
        <hr>


        <h3>N° intracom de TVA :</h3>
        <h5>FR59XXXXXXXXX</h5>
        <br>
        <hr>


        <h3>Code NAF :</h3>
        <h5>62.01Z / 63.11Z / 73.11Z</h5>
>>>>>>> MAJ mentions légales
        <br>
        <hr>


<<<<<<< refs/remotes/origin/teddy
        <h3>N° intracom de TVA :</h3>
        <h5>FR59XXXXXXXXX</h5>
        <br>
        <hr>


        <h3>Code NAF :</h3>
        <h5>62.01Z / 63.11Z / 73.11Z</h5>
        <br>
        <hr>


=======
>>>>>>> Mise à jour du 17avr
        <h3>Hébergeur du site:</h3>
        <h5>1&1, Sarreguemines (57), France</h5>
        <br>
        <hr>
<<<<<<< refs/remotes/origin/teddy


        <h3>Créateur du site:</h3>
        <h5>J2L2T, La Madeleine (59), France</h5>
        <h5>Mail : contact@j2l2t.fr</h5>
        <br>
        <hr>


        <div classe="col-md-12">
            <p>Tous les droits concernant la conception de ce site sont la propriété. Toute reproduction de ce site, partiellement ou intégralement, par quelconque procédure que ce soit et sans l'autorisation expresse de l'exploitant du site internet est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
            </p>
        </div>
        <br>
        <hr>


        <div classe="col-md-12">
            <p>Découvrez ici nos conditions générales de vente</p>
        </div>
    </div>
=======
>>>>>>> Mise à jour du 17avr

<<<<<<< refs/remotes/origin/teddy
=======

        <h3>Créateur du site:</h3>
        <h5>J2L2T, La Madeleine (59), France</h5>
        <h5>Mail : contact@j2l2t.fr</h5>
        <br>
        <hr>


        <div classe="col-md-12">
            <p>Tous les droits concernant la conception de ce site sont la propriété. Toute reproduction de ce site, partiellement ou intégralement, par quelconque procédure que ce soit et sans l'autorisation expresse de l'exploitant du site internet est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
            </p>
        </div>
        <br>
        <hr>


        <div classe="col-md-12">
            <p>Découvrez ici nos conditions générales de vente</p>
        </div>
    </div>

>>>>>>> MAJ mentions légales
{% endblock %}




