{% extends 'base.html.twig' %}

{% block body %}

        <h1 class="info">Qui sommes nous ?</h1>

    <div class="container" id="t1">

        <h2>Comment est né BricoTravoPro ?</h2>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, <br>
            earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum?<br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, <br>
            earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>

    </div>

    <div class="container" id="t2">
        <h2>BricoTravoPro: la référence client dans le secteur des artisans du bâtiment.</h2>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, <br>
            earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi sapiente perferendis rem temporibus pariatur, <br>
            earum suscipit deleniti harum eaque maiores ratione, aut quam vel. Amet molestias quibusdam ut voluptatum? </p>

    </div>

{% endblock %}