{% extends 'base.html.twig' %}

{% block body %}
    <div id="banner1">
        <img src="/images/banner_team.jpg" class="img-fluid" alt="Bannière page professionnels">
    </div>
    <h1 class="info1">L'équipe</h1>
    <div class="container" id="t1">
        <h2>L'équipe</h2>
        <span>
            Ce projet de fin de formation résulte d'une synergie développée par une équipe composée de 5 membres :<br>
            <div class="row">
                <div class="team" style="text-align: center">
                    <img class="photo-circle" src="/images/photo_teddy.jpg" width="140px"><br>
                    <a href="https://www.linkedin.com/in/jo%C3%ABlle-fran%C3%A7ois/" target="_blank"><img src="/images/icone_linkedin.svg" width="18px"> Joëlle F.</a>,<br>
                </div>
                <div class="team" style="text-align: center">
                    <img class="photo-circle" src="/images/photo_teddy.jpg" width="140px"><br>
                    <a href="https://www.linkedin.com/in/laurapalisse/" target="_blank"><img src="/images/icone_linkedin.svg" width="18px"> Laura P.</a>,<br>
                </div>
                <div class="team" style="text-align: center">
                    <img class="photo-circle" src="/images/photo_teddy.jpg" width="140px"><br>
                    <a href="https://www.linkedin.com/in/laurent-dekeuwer-671885178/" target="_blank"><img src="/images/icone_linkedin.svg" width="18px"> Laurent D.</a>,<br>
                </div>
                <div class="team" style="text-align: center">
                    <img class="photo-circle" src="/images/photo_teddy.jpg" width="140px"><br>
                    <a href="https://www.linkedin.com/in/teddy-deteuf/" target="_blank"><img src="/images/icone_linkedin.svg" width="18px"> Teddy D.</a>,<br>
                </div>
                <div class="team" style="text-align: center">
                    <img class="photo-circle" src="/images/photo_teddy.jpg" width="140px"><br>
                    <a href="https://www.linkedin.com/in/thomasmarchoix/" target="_blank"><img src="/images/icone_linkedin.svg" width="18px"> Thomas M.</a>
                </div>
            </div>
        </span>
    </div>
        <br>
    <div class="container-fluid">
        <hr>
    </div>
    <div class="container" id="t1">
        <h2>Génèse du projet</h2>
        <div>BricoTravoPro est un projet de fin de formation. Une formation présentielle suivie dans les locaux de <a href="https://www.wf3.fr/centre/webforce-3-lille/" target="_blank">Web Force 3 Lille</a>.
            <br>
            L'idée de ce projet part d'un double constat :<br>
            • la complexité de <strong>trouver</strong> un artisan fiable pour une personne désirant rép>
        aliser des travaux de rénovation, d'aménagement ou de réhabilitation pour un particulier désirant réaliser des travaux<br>
            • la dificulté de <strong>communiquer</strong> et d'avoir une visibilité pour les artisans professionnels du milieu du B.T.P.

        </div>
    </div>
    <div class="container-fluid">
        <hr>
    </div>
    <div class="container" id="t2">
        <h2>Évolutions du projet :</h2>
        <div>
            
        </div>
    </div>

{% endblock %}