{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
    <div class="container my-4">

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messagedata, 'security') }}
            </div>
        {% endif %}


        <form action="{{ path('login') }}" method="post">
            <label for="username">Email</label>
            <input type="text" id="username" name="_username" class="form-control" value="{{ email }}">

        <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" class="form-control">
        </div>

            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    </div>
{% endblock %}