{% extends 'base.html.twig' %}

{% block body %}

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="padding-left: 0px">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/slide1.jpg" class="d-block w-100" alt="slide1">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/slide2.jpg" class="d-block w-100" alt="slide2">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/slide3.jpg" class="d-block w-100" alt="slide3">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
   <div class="container-fluid">

        <h2  class="recherche col-6 offset-3 text-center"> Trouver un artisan près de chez vous. </h2>
       <h5 class="col-6 offset-3 text-center">Une fuite, une chaudière à changer ou encore des travaux d'économies d'énergie à entreprendre, les artisans de BricoTravoPro sont là pour vous accompagner dans votre démarche.<br>
       Grâce à un moteur de recherche multicritères, vous pouvez trouver un professionnel, géo-localisable près de chez vous, capable de répondre à vos besoins spécifiques.</h5>
     
   </div>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-7" id="activite" >
                <h2 id="h2o">Secteurs d'activités</h2>
                <ul class="list_activite">
                    <li><a href="">Plomberie</a></li>
                    <li><a href="">Charpente</a></li>
                    <li><a href="">Chauffage</a></li>
                    <li><a href="">Couverture/Toiture</a></li>
                    <li><a href="">Electricité</a></li>
                    <li><a href="">Espaces Verts</a></li>
                    <li><a href="">Maçonnerie/Gros Oeuvre</a></li>
                    <li><a href="">Menuiserie (bois, PVC...)</a></li>
                    <li><a href="">Peinture</a></li>
                    <li><a href="">Revêtements et sols</a></li>
                </ul>

            </div>
            <div class="col-5" id="activite">
                <h2 id="h2o">Flux RSS du blog</h2>
                <p><!-- DEBUT CODE MISE EN PAGE XML PAR ACTIFPUB V2 -->
                    <SCRIPT language="Javascript">
                        var member=""; //optionnel si vous etes inscrit sur la plateforme actifpub  le parametrage se fait dans votre espace membre
                        var fichier="https://www.maison.com/rss/brico-travaux-12/";
                        var limite="1";  //  sujets compris entre 1
                        var limite1="2";   //  et plus
                        var aspect="1";  //  0 ou 1 (1 permet d'afficher lien + description, 0 que les liens)
                        var minute="0";  //  0 ou 1 (1 permet d'afficher date et heure, 0 pas de date et heure)
                        var sujet="0"; //  0 ou 1 (1 permet d'afficher le titre des sujets traités, 0 pas de titre )
                        var te="Arial, Helvetica, sans-serif";  // Police de caractères (Verdana, arial etc...)
                        var fil_textsize="15"; // taille des liens et description
                        var title_textcolor="1F70B4"; // couleur des liens (000000 donne noir)
                        var tlien="none"; // style du lien none ou underline
                        var text_textcolor="f8f9fa";  // couleur description (000000 donne noir)
                        var frame_color="343a40"; // couleur arrière plan (FFFFFF donne blanc)
                        var content="1"; // 0 ou 1 comme paramètre optionnel, 1  format html,  0  format texte
                        var extract="";  // laisser vide ou indiquez le nombre de caractères que vous souhaitez garder dans le corps du flux
                        var cache="15"; // gestion du cache exprimée en minutes - en fonction de la fréquence de mise à jour
                        document.write('<s'+'cript language="JavaScript" charset="UTF-8" type="text/javascript" SRC="http://www.actifpub.com/rss.php?fichier_AP_='+fichier+'&limite_AP_='+limite+'&limite1_AP_='+limite1+'&aspect_AP_='+aspect+'&minute_AP_='+minute+'&sujet_AP_='+sujet+'&te_AP_='+te+'&fil_textsize_AP_='+fil_textsize+'&title_textcolor_AP_='+title_textcolor+'&text_textcolor_AP_='+text_textcolor+'&frame_color_AP_='+frame_color+'&content_AP_='+content+'&cache_AP_='+cache+'&extract_AP_='+extract+'&tlien_AP_='+tlien+'&java=1&member_AP_='+member+'"></sc'+'ript>');
                    </script>
                </p>
            </div>
        </div>
        </div>
    <section id="infos">
        <div class="container">
            <div class="row" style="alignment: center">
                <div class="col-md-4">
                    <div class="icon1 my-4 mx-auto"><img src="/images/icone_recherche.svg"></div>
                    <h3>Recherche simplifiée</h3>
                    <p>Les recherches de professionnels sont simplifiées selon le corps de métier recherché.</p>
                </div>
                <div class="col-md-4">
                    <div class="icon1 my-4 mx-auto"><img src="/images/icone_maj.svg"></div>
                    <h3>Base de données à jour</h3>
                    <p>Une intérrogation des base de données des registres des métiers est régulièrement effectuée afin de certifier l'activité des entreprises.</p>
                </div>
                <div class="col-md-4">
                    <div class="icon1 my-4 mx-auto"><img src="/images/icone_gratuit.svg"></div>
                    <h3>Inscription gratuite</h3>
                    <p>L'inscription et l'utilisation sont totalement gratuites. Une inscription est nécessaire pour bénéficier de l'ensemble des fonctionnalités.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-light bg-dark" >
        <div class="container" style="text-align: center; padding-top: 15px; padding-bottom: 15px">
            <div class="col-12">
                <h3>Connectez-vous</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Pas encore inscrit ...</p>
                    <button type="button" class="btn btn-outline-light">Inscription</button>
                </div>
                <div class="col-md-6">
                    <p>Déjà inscrit ...</p>
                    <button type="button" class="btn btn-outline-light">Connexion</button>
                </div>
            </div>
        </div>
    </section>
    <section id="references">

    </section>


{% endblock %}