{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid" >
            <div class=" bg-dark" id="formPro">
                <div class="container ">
                    <h1 class="my-4" id="titre">Inscription</h1>
                    <div class="row">
                        <div class="col-6" id="form1" >
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(form) }}
                        </div>
                        <div class="col-6" id="form1" >
                        </div>
                    </div>
                    <button class="btn btn-success">S'inscrire</button>
                    {{ form_end(form) }}
                    <a href="{{path('login')}}" class="btn btn-primary">Je suis déjà inscris</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}