{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 bg-primary">
                <div class="container my-5">
                    <h1 class="my-4">Inscription</h1>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(form) }}

                    <button class="btn btn-success">S'inscrire</button>
                    {{ form_end(form) }}
                    <a href="{{path('login')}}" class="btn btn-primary">Je suis déjà inscris</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}