@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body{
    font-family: 'Slabo 27px', serif;
}
<<<<<<< refs/remotes/origin/teddy
#banner{
=======
#banner {
>>>>>>> Mise à jour du 17avr
    margin: 0;
    padding: 0;
    width: 100%;
}
.icon1 {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-image: linear-gradient(15deg, #ff5858 0%, #e08d1e 100%);
}
.icon2{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-image: linear-gradient(15deg, #13547a 0%, #00aa9e 100%);
}