.info{
    padding-top: 35px;
    height: 110px;
    font-size: 32px;
    background-color: #4C4848;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 10px solid #E08D1E;
}
#docs{
    margin-top: 52px;
    margin-bottom: 52px;
    width: 800px;
    border: 1px solid #313131;
    border-radius: 10px;
    box-shadow: 6px 6px 6px black
}