<section class="text-light bg-dark">
    <div class="container" style="text-align: center; padding-top: 15px; padding-bottom: 15px">
        <div class="col-12">
            <h3>Abonnez-vous à la newsletter</h3>
            <p>Afin d'être informé régulièrement de l'actualité concernant les produits et techniques, la législation et la fiscalité relatives aux travaux de votre habitat ...</p>
        </div>
        <form class="form-newsletter" method="post" action="">
            <div class="row">
                <div class="offset-2 col-md-6">
                    <input type="email" id="email" size="50" required placeholder="Saisissez votre adresse email">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-light">Envoyer</button>
                </div>
            </div>
        </form>
        <div>
            <p>En renseignant votre adresse e-mail, vous accepter de recevoir chaque mois notre newsletter. Voir notre <a href="{{ path('confidentialite') }}" >Politique de confidentialité</a>.<br>
                Vous pouvez vous désincrire à tout moment à l'aide du lien de désincription joint à la newsletter ou en nous adressant un mail à l'adresse suivante newsletter@bricotravopro.fr</p>
        </div>
    </div>
</section>


