<section class="text-light bg-dark" >
    <div class="container" style="text-align: center; padding-top: 15px; padding-bottom: 15px">
        <div class="col-12">
            <h3>Abonnez-vous à la newsletter</h3>
            <p>Afin d'être informé régulièrement de l'actualité concernant les produits et techniques, la législation et la fiscalité relatives aux travaux de votre habitat ...</p>
        </div>
            <div class="row">
                <div class="offset-2 col-md-6">
                    <input type="email" id="email" size="50" required placeholder="Saisissez votre adresse email">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-light">Envoyer</button>
                </div>
            </div>
        </div>
</section>