<div id="banner1" style="border-bottom: 1px solid #ff5858">
    <section class="text-light bg-dark">
        <div class="container" style="text-align: center; padding-top: 15px; padding-bottom: 15px">
            <div class="col-12">
                {{ form_start(form_newsletter)}}
                {{ form_widget(form_newsletter) }}

                <button class="btn btn-success">Envoyer mon message</button>
                {{ form_end(form_newsletter) }}
            </div>
        </div>
    </section>
</div>


