 <section class="text-light bg-dark" >
        <div class="container" style="text-align: center; padding-top: 15px; padding-bottom: 15px">
            <div class="col-12">
                <h3>Connectez-vous pour accéder à toutes les fonctionnalités du site</h3>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Particulier ? Inscrivez-vous !</p>
                    <a href="{{ path('inscription_particulier') }}"><button type="button" class="btn btn-outline-light">Particuliers</button></a>
                </div>
                <div class="col-md-4">
                     <p>Professionnel ? inscrivez-vous !</p>
                    <a href="{{ path('inscription_professionnel') }}"><button type="button" class="btn btn-outline-light">Professionnels</button></a>
                </div>
                <div class="col-md-4">
                    <p>Déjà inscrit ?</p>
                    <a href="{{ path('login') }}"><button type="button" class="btn btn-outline-light">Connexion</button></a>
                </div>
            </div>
        </div>
    </section>