<div class="container">
    <div class="col-12 copyright my-2 text-right">
            <a href="#" onclick="scrollTo(0,0);"><i class="fa fa-arrow-up" aria-hidden="true"></i> Back to top</a>
    </div>
</div>
