{% extends 'base.html.twig' %}

{% block body %}
    <div id="banner1">
        <img src="/images/banner_particulier.jpg" class="img-fluid" alt="Bannière page particuliers">
    </div>
        <h2 class="info1">Vous êtes un particulier...</h2>
    <div class="container">
        <section class="pres_part">
            <div class=""container">
                <div class="row">
                    <div class="col-4">
                        <div class="icon1 my-4 mx-auto"><img src="/images/icone_concretisation.svg"></div>
                        <h4 class="text-center" style="color: #ff5858">Concrétisez vos projets</h3>
                        <div class="bloc-content">
                            <p class="text-center">Vous cherchez un artisan pour réaliser des travaux d'aménagement ou de rénovation de votre habitation...</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="icon1 my-4 mx-auto"><img src="/images/icone_specialiste.svg"></div>
                        <h4 class="text-center" style="color: #ff5858">Trouvez un spécialiste</h3>
                        <div class="bloc-content">
                            <p class="text-center">Vous cherchez un artisan spécialisé à qui vous pourriez confier la réalisation des travaux...</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="icon1 my-4 mx-auto"><img src="/images/icone_evaluation.svg"></div>
                        <h4 class="text-center" style="color: #ff5858">Évaluez votre collaborateur</h3>
                        <div class="bloc-content">
                            <p class="text-center">Vous désirez partager votre expérience afin d'aider d'autres personnes désirant réaliser des travaux... </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Module Call To Action -> Connexion -->
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {% else %}
        <br>
        <div id="banner1" style="border-bottom: 2px solid #ff5858">
        {{ include('CallToAction/cta-connexion.html.twig') }}
        </div>
        <br>
    {% endif %}
    <!-- Module Call To Action -> BackToTop -->
    <br>
    {{ include('CallToAction/cta-backtotop.html.twig') }}

{% endblock %}