{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <img src="/images/banner_particulier.jpg">
    </div>
    <div class="container">
        <section class="pres_part">
            <div class=""container">
                <div class="row">
                    <div class="col-12" style="text-align: center">
                        <h2>Vous êtes un particulier...</h2>
                    </div>
                    <div class="col-4">
                        <div class="icon1 my-4 mx-auto"><img src="/images/icone_concretisation.svg"></div>
                        <h3 class="mx-auto">Concrétisez vos projets</h3>
                        <div class="bloc-content">
                            <p class="mx-auto">Vous cherchez un artisan pour réaliser des travaux d'aménagement ou de rénovation de votre habitation...</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="icon1 my-4 mx-auto"><img src="/images/icone_specialiste.svg"></div>
                        <h3 class="mx-auto">Trouvez un spécialiste</h3>
                        <div class="bloc-content">
                            <p class="mx-auto">Vous cherchez un artisan spécialisé à qui vous pourriez confier la réalisation des travaux...</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="icon1 my-4 mx-auto"><img src="/images/icone_evaluation.svg"></div>
                        <h3 class="mx-auto">Évaluez votre collaborateur</h3>
                        <div class="bloc-content">
                            <p class="mx-auto">Vous désirez partager votre expérience afin d'aider d'autres personnes désirant réaliser des travaux... </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock %}