{% extends 'base.html.twig' %}

{% block body %}
    <section class="pres_part">
        <div class=""container">
            <div class="row">
                <div class="col-12" style="text-align: center">
                    <h2>Vous êtes un particulier...</h2>
                </div>
                <div class="col-4">
                    <div class="bloc-center">
                        <h3>Concrétisez vos projets</h3>
                        <div class="bloc-image"></div>
                        <div class="bloc-content">
                            <p>Vous cherchez un artisan pour réaliser des travaux d'aménagement ou de rénovation de votre habitation...</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="bloc-center">
                        <h3>Trouvez un spécialiste</h3>
                        <div class="bloc-image"></div>
                        <div class="bloc-content">
                            <p>Vous cherchez un artisan spécialisé à qui vous pourriez confier la réalisation des travaux...</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="bloc-center">
                        <h3>Évaluez votre collaborateur</h3>
                        <div class="bloc-image"></div>
                        <div class="bloc-content">
                            <p>Vous désirez partager votre expérience afin d'aider d'autres personnes désirant réaliser des travaux... </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}