{% extends 'base.html.twig' %}

{% block body %}
    <div id="banner1">
        <img src="/images/banner_faq.jpg" class="img-fluid" alt="Bannière page professionnels">
    </div>
    <h1 class="info1">Vous avez des questions ...</h1>

{% endblock %}