{% extends 'base.html.twig' %}

{% block body %}
    <div id="banner1">
        <img src="/images/banner_faq.jpg" class="img-fluid" alt="Bannière page professionnels">
    </div>
    <h1 class="info1">Vous avez des questions ...</h1>
    <div class="container" id="t1">
        <div>
            <h4>Qui peut utiliser BricoTravoPro ?</h4>
            <div>BricoTravoPro est une interface accessible à tous.<br>
                Une inscription gratuite est nécessaire pour accéder aux informations et effectuer vos recherches.</div>
        </div>
        <hr>
        <div>
            <h4>Quels professionnels sont autorisés à inscrire leur activité sur BricoTravoPro ?</h4>
            <div>Tous les professionnels ayant une activité dans le domaine du B.T.P, la rénovation, l'aménagement et la réhabilitation d'habitations et des jardins.</div>
        </div>
        <hr>
        <div>
            <h4>Comment laisser une évaluation ?</h4>
            <div>Toute personne inscrite sur la plateforme, et ayant sollicité un artisan peut laisser une évaluation sur la prestation réalisée</div>
        </div>
        <hr>
        <div>
            <h4>Comment puis-je modifier les informations sur mon activité ?</h4>
            <div>Depuis votre Espace Professionnel, il est possible de modifier les informations en suivant les indications.</div>
        </div>
        <hr>
    </div>
    <!-- Module Call To Action -> BackToTop -->
    <br>
    {{ include('CallToAction/cta-backtotop.html.twig') }}
    <br>
{% endblock %}