{% extends 'base.html.twig' %}

{% block body %}
<div>
   Bloc recherche
</div>

   <div itemprop="mainContentOfPage">
      <ol itemscope="" itemtype="" class="path-c clearfix">
         <li itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="">
               <span itemprop="name">Trouver un PRO</span>
            </a>
            <meta itemprop="position" content="1">
         </li>
         <li class="raquo">»</li>
         <li itemprop="itemListElement" itemtype="">
            <a itemprop="item" href="">
               <span itemprop="name">Aménagement et agencement</span>
            </a>
            <meta itemprop="position" content="2">
         </li>
      </ol>



   </div>

{% endblock %}