{% extends 'base.html.twig' %}

{% block body %}
    <div id="banner1">
        <img src="/images/banner_contact.jpg" class="img-fluid" alt="Bannière page professionnels">
    </div>
    <h1 class="info1">Pour nous contacter ...</h1>
    <div class="container">
        <div class="contact">
            <section id="form" class="col-12">
<<<<<<< HEAD
                {{ form_start(form)}}
                {{ form_widget(form) }}
                <div class="row">
                    <button class="btn btn-outline-primary">Envoyer</button>
                    <button class="btn btn-outline-warning">Annuler</button>
                </div>
                {{ form_end(form) }}
=======
                <form action="inc/envoi.php" method="post" id="ajaxForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="nom">NOM : </label>
                            <input id="nom" name="nom" type="text" placeholder="Votre Nom (obligatoire)" class="auto-clear placeholder" tabindex="1" required>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="prenom">Prénom : </label>
                            <input id="prenom" name="prenom" type="text" placeholder="Votre Prénom" class="auto-clear placeholder" tabindex="2">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="email">Email : </label>
                            <input id="email" name="email" type="email" placeholder="Saisissez votre e-mail (obligatoire)" class="auto-clear placeholder" tabindex="3" required>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <label for="objet">Objet : </label>
                            <select id="objet" name="objet" tabindex="4">
                                <option value="">Objet (obligatoire)</option>
                                <option value="une demande d'informations">Demande d'informations</option>
                                <option value="une demande de devis">Demande de partenariat</option>
                                <option value="une prise de rendez-vous">Demande d'entretien téléphonique</option>
                                <option value="des informations diverses">Autres</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <label for="message">Message : </label>
                            <textarea name="message" id="message" cols="80" rows="10" class="autoempty" tabindex="5" placeholder="Votre message  (obligatoire)" required></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2 offset-1">
                            <button type="submit" class="btn btn-outline-info" value="Envoyer" tabindex="6">ENVOYER</button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-outline-warning" value="reset" tabindex="7" href="{{ path('contact') }}">ANNULER</button>
                        </div>
                    </div>
                </form>
>>>>>>> 5d05274b193ef2393f26e95ca365aaab2fb600c7
            </section>
        </div>
        <hr>
        <!-- iFrame GoogleMap-->
        <section id="google-map">
            <div class="col-12">
                <div style="width: 100%">
                    <iframe width="100%" height="300" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=105%20Avenue%20de%20la%20R%C3%A9publique%2C%2059110%20La%20Madeleine+(BricoTravoPro)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        <a href="https://www.maps.ie/map-my-route/">Create route map</a>
                    </iframe>
                </div>
            </div>
        </section>
    </div>


{% endblock %}