{% extends 'base.html.twig' %}

{% block body %}
    <div id="banner2">
        <img src="/images/banner_pro.jpg" class="img-fluid" alt="Bannière page professionnels">
    </div>
    <h1 class="info2">Vous êtes un professionnel...</h1>
    <div class="container">
        <section class="pres_pro">
            <div class=""container">
            <div class="row">
                <div class="col-4">
                    <div class="bloc-center">
                        <div class="icon2 my-4 mx-auto"><img src="/images/icone_visibilite.svg"></div>
                        <h3>Améliorez votre visibilité</h3>
                        <div class="bloc-content">
                            <p>Vous cherchez à développer votre notoriété et votre rayonnement sur le web et les réseaux sociaux...</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="bloc-center">
                        <div class="icon2 my-4 mx-auto"><img src="/images/icone_client.svg"></div>
                        <h3>Trouvez de nouveaux clients</h3>
                        <div class="bloc-image"></div>
                        <div class="bloc-content">
                            <p>Vous cherchez à rassurer les nouveaux prospects sur le sérieux et la qualité de votre travail...</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="bloc-center">
                        <div class="icon2 my-4 mx-auto"><img src="/images/icone_communication.svg"></div>
                        <h3>Optimisez votre communication</h3>
                        <div class="bloc-content">
                            <p>Vous cherchez à étoffer le panel de vos supports de communication...</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    </div>
    <br>
    {{ include('CallToAction/cta-connexion.html.twig') }}
    <br>

{% endblock %}